<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
        <RollingFile name="debugFile" fileName="logs/debug.log"
                     filePattern="logs/archive/debug-%d{yyyy-MM-dd HHmmssSSS}-%i.log">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <root level="trace">
            <appender-ref ref="console" level="info"/>
            <appender-ref ref="debugFile" level="trace"/>
        </root>
    </Loggers>
</Configuration>